html {
    cursor: none;
}

@font-face {
    font-family: 'Doghebi';
    src: url(fonts/Doghebi.otf);
}

@font-face {
    font-family: 'font';
    src: url(fonts/font.otf);
}


@font-face {
    font-family: 'Amon';
    src: url(fonts/Amon.otf);
}

@font-face {
    font-family: 'Noctis';
    src: url(fonts/Noctis-Regular-trial.ttf);
}


@font-face {
    font-family: 'Noctis Bold';
    src: url(fonts/Noctis-Bold-trial.ttf);
}

@font-face {
    font-family: 'Roses Bold';
    src: url(fonts/Branic.otf);
}

@font-face {
    font-family: 'Branic Bold';
    src: url(fonts/RosesBoleroDemoFree.ttf);
}

text {
    fill: white;
    font-size: 30px;
    font-family: 'Branic Bold';
}

@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

body {
    background-color: #1a1a1a;

}

@media screen and (min-width: 651px) {
    h1 {
        color: white;
        font-family: 'Ladi';
        font-size: 120px;

    }
}

@media screen and (max-width: 650px) {
    h1 {
        color: white;
        font-family: 'Ladi';
        font-size: 50px;
    }
}



@media screen and (min-width: 651px) {
    h2 {
        color: white;
        font-family: 'Noctis';
        font-size: 74px;
        position: relative;
        overflow: hidden;
    }
}

@media screen and (max-width: 650px) {
    h2 {
        color: white;
        font-family: 'Noctis';
        font-size: 30px;
    }
}

@media screen and (min-width: 651px) {
    h4 {
        color: white;
        font-family: 'Branic Bold';
        font-size: 70px;
        position: relative;
        overflow: hidden;
        transform: translate(20%, 0%);
        z-index: 9;
    }
}

@media screen and (max-width: 650px) {
    h4 {
        color: white;
        font-family: 'Branic Bold';
        font-size: 35px;
        z-index: 9;
        overflow: hidden;
        position: relative;
        transform: translate(0%, 30%);

    }
}


@media screen and (min-width: 651px) {
    h3 {
        font-family: 'Noctis';
        font-size: 90px;
        text-align: left;
        transform: translate(-10%, 0%);
    }
}

@media screen and (max-width: 650px) {
    h3 {
        font-family: 'Noctis';
        font-size: 30px;
        transform: translate(22%, 0%);

    }
}


@media screen and (min-width: 651px) {
    .desMargin {
        margin-top: 400px;
    }
}

@media screen and (max-width: 650px) {
    .desMargin {
        margin-top: -40px;
    }
}


.marg {
    margin-top: 90px;
}

p {
    color: white;
}

.NYText {
    font-family: 'Doghebi';
    color: coral;
}

/*
.doghebi {
    font-family: 'Doghebi';
}

.noctis {
    font-family: 'Noctis';
}

.roses {
    font-family: 'Branic Bold';
}
*/

@media screen and (min-width: 651px) {
    .wrapper {
        width: 700px;
        height: 600px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-33%, -50%);
    }

}

@media screen and (max-width: 650px) {
    .wrapper {
        width: 350px;
        height: 250px;
        position: relative;
        top: 50%;
        left: 31%;
        margin-right: 40px;
        margin-left: 40px;
        justify-content: center;
        align-content: center;
        transform: translate(-42.5%, -50%);
    }

}

.hover-this {
    transition: all 0.3s ease;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
    z-index: 99999;
}

.hover-this:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8);
}

@media(min-width: 900px) {
    nav {
        display: flex;
        justify-content: space-around;
    }
}

@media(max-width: 900px) {
    nav {
        top: 30%;
    }

    .hover-this {
        width: 100%;
        padding: 20px 0;
        display: inline-block;
    }
}


@media screen and (min-width: 651px) {
    .footer-dark {
        padding: 50px 0;
        color: #ffffff;
        background-color: #1a1a1a;
        opacity: 1;
    }
}

@media screen and (max-width: 650px) {
    .footer-dark {
        padding: 50px 0;
        color: #ffffff;
        background-color: #1a1a1a;
        opacity: 1;
        margin-top: -110px;
    }

}


.footer-dark .item.social {
    text-align: center;
}

@media screen and (min-width: 651px) {
    .footer-dark .item.social > a {
        font-size: 18px;
        display: inline-block;
        text-align: center;
        margin: 0 60px;
        color: #fff;
        opacity: 0.5;
        font-family: 'font';
        font-weight: 400;

    }
}

@media screen and (max-width: 650px) {
    .footer-dark .item.social > a {
        font-size: 18px;
        display: inline-block;
        text-align: center;
        margin: 0px 20px;
        color: #fff;
        opacity: 0.5;
        font-family: 'font';
        font-weight: 400;

    }

}


.footer-dark .item.social > a:hover {
    opacity: 1;
    color: white;
}


.footer-dark .copyright {
    text-align: center;
    font-size: 15px;
    margin-bottom: 0;
    color: #fff;
    font-family: 'font';
}

.marquee3 {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.marquee__inner3 {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee3 12s linear infinite;
    animation-play-state: play;
    font-family: 'Noctis Bold';
}

.marquee3 span {
    font-size: 6vw;
    padding: 0 2vw;
}

.marquee3:hover .marquee__inner3 {
    animation-play-state: running;
}

@keyframes marquee3 {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}


.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 12s linear infinite;
    animation-play-state: play;
    font-family: 'Noctis Bold';
}

.marquee span {
    font-size: 3.5vw;
    padding: 0 2vw;
}

.marquee:hover .marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

.footerContainer {
    width: 70%;
}

.marquee2 {
    margin: 2rem 0;
    font-size: 8vw;
    overflow: hidden;
}

marquee__inner2 {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee3 12s linear infinite;
    animation-play-state: play;
    font-family: 'Noctis Bold';
}


.marquee2 span {
    font-size: 2vw;
    padding: 0 1vw;
    display: inline-block;
    white-space: nowrap;
    color: #00112C;
    width: var(--tw);
    text-shadow: var(--tw) 0 currentColor,
        calc(var(--tw) * 2) 0 currentColor,
        calc(var(--tw) * 3) 0 currentColor,
        calc(var(--tw) * 4) 0 currentColor;
    will-change: transform;
    animation: marquee2 var(--ad) linear infinite;
    animation-play-state: play;
}

.marquee2:hover span {
    animation-play-state: running;
}

@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee2 span {
        animation: none;
        text-shadow: none;
        width: auto;
        display: block;
        line-height: 1.5;
        text-align: center;
        white-space: normal;
    }
}

.bg2 {
    background-color: #FFFFAA;
    position: relative;
    width: 100%;
    height: 100%;
}

.bg2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}


.bg33 {
    background-color: white;
}

.credits {
    font-family: 'Branic Bold';
    color: white;
    font-size: 2vh;
}

.bg22 {
    background-color: white;
}

.bg3 {
    /*    background-color: #BBFFBB;*/
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
}

.bg3::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}

.wrapper2 {
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    margin: auto;
    justify-content: center;
    align-content: center;
}




@media screen and (min-width: 651px) {
    .wrapper22 {
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
        margin: auto;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width: 650px) {
    .wrapper22 {
        left: 50%;
        transform: translate(-50%, 10%);
        position: absolute;
        margin: auto;
        justify-content: center;
        align-content: center;

    }
}


@media screen and (min-width: 651px) {
    .circle {
        width: 350px;
        height: 350px;
        border-radius: 100%;
        background-color: #1a1a1a;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        opacity: 0.8;
    }
}

@media screen and (max-width: 650px) {
    .circle {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background-color: #1a1a1a;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        opacity: 0.8;
    }
}

#reload {
    width: 180px;
    height: 180px;
}

#menu_checkbox {
    display: none;
}




@media screen and (min-width: 651px) {
    label {
        position: fixed;
        top: 10%;
        right: 0;
        right: 10%;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        transition: 0.3s ease transform;
        cursor: pointer;
        z-index: 999;
        mix-blend-mode: difference;

    }

    label div:first-child {
        width: 70px;
        height: 2px;
    }

    label div:nth-child(2) {
        width: 70px;
        height: 2px;
    }

    label div:last-child {
        width: 70px;
        margin-bottom: 0;
        height: 2px;
    }
}

@media screen and (max-width: 650px) {
    label {
        position: fixed;
        top: 11%;
        right: 0;
        right: 11%;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        transition: 0.3s ease transform;
        cursor: pointer;
        z-index: 999;
        mix-blend-mode: difference;

    }

    label div:first-child {
        width: 50px;
        height: 2px;
    }

    label div:nth-child(2) {
        width: 50px;
        height: 2px;
    }

    label div:last-child {
        width: 50px;
        margin-bottom: 0;
        height: 2px;
    }
}

label div:nth-child(2):hover {
    width: 30px;
    height: 2px;
}

label div {
    width: 6px;
    height: 6px;
    background-color: #fff;
    margin-left: 0;
    margin-bottom: 6px;
    border-radius: 4px;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom, 0.3s ease background-color;

}



#toggle:checked + label {
    transform: translateY(-50%) rotateZ(-90deg);
}

#toggle:checked + label div {
    width: 20px;
    margin-left: 12px;
    margin-bottom: 20px;
    background-color: #fff;
}


header nav {
    background-color: #1a1a1a;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 99;
    overflow: auto;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -40px;

    position: absolute;
    left: 50%;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
    padding-bottom: 90px;
}

header nav ul li {
    opacity: 0;
    font-family: 'Roses Bold';
}


@media screen and (min-width: 651px) {
    header nav ul li a {
        display: block;
        font-size: 6em;
        text-decoration: none;
        padding: 10px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 650px) {
    header nav ul li a {
        display: block;
        font-size: 3em;
        text-decoration: none;
        padding: 10px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
}



header nav ul li a:hover {
    color: #ffffff;
}


#toggle:checked ~ nav {
    opacity: 1;
    visibility: visible;
}

#toggle:checked ~ nav ul {
    top: 200px;
}

#toggle:checked ~ nav ul li {
    transform: translateY(10px);
    opacity: 1;
}

#toggle:checked ~ nav ul li:nth-child(1) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}

#toggle:checked ~ nav ul li:nth-child(2) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}

#toggle:checked ~ nav ul li:nth-child(3) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}

#toggle:checked ~ nav ul li:nth-child(4) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}

#toggle:checked + label.toggle-btn .bar {
    background-color: red;
}

#toggle:checked + label.toggle-btn .bar:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
}

#toggle:checked + label.toggle-btn .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#toggle:checked + label.toggle-btn .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}




.div3 {
    text-align: center;

}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #1a1a1a;

}

@media screen and (min-width: 651px) {
    .scrollerH {
        height: 200px;
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 650px) {
    .scrollerH {
        height: 210px;
        margin-top: -100px;
    }
}





@media screen and (min-width: 651px) {
    .sig {
        position: fixed;
        top: 4%;
        left: 5%;
        font-size: 5vh;
        font-weight: 100;
        color: rgba(255, 255, 255, 1);
        letter-spacing: 2px;
        z-index: 9999;
        font-family: 'Roses Bold';
        mix-blend-mode: difference;

    }
}

@media screen and (max-width: 650px) {
    .sig {
        position: fixed;
        top: 5%;
        left: 5%;
        font-size: 2em;
        font-weight: 100;
        color: rgba(255, 255, 255, 1);
        letter-spacing: 2px;
        z-index: 9999;
        font-family: 'Roses Bold';
        mix-blend-mode: difference;

    }
}


.sig:hover {
    color: rgba(255, 255, 255, 1);
}


@media screen and (min-width: 651px) {

    .imgAbt {
        width: 650px;
    }

}

@media screen and (max-width: 650px) {

    .imgAbt {
        width: 650px;
        transform: translate(0%, -5%);
    }

}



.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    text-transform: uppercase !important;
}

@media screen and (min-width: 53em) {
    .slider {
        height: 100vh;
    }
}

.rgbKineticSlider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 15px;
}

canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.nav2 a {
    text-decoration: none;
    position: absolute;
    top: 46vh;
    z-index: 1;
    padding: 20px;
    transition: 0.3s;
    background: #1a1a1a;
    color: white;
    font-family: 'Roses Bold';
    font-size: 15px;

}

.nav2 a.next {
    right: 10vw;
}

.nav2 a.prev {
    left: 10vw;
}

.nav2 a.link {
    margin: auto;
    font-size: 20px;
    margin-top: 20%;

}

.indexButton {
    text-decoration: none;
    position: absolute;
    color: white;
    font-family: 'Roses Bold';
    font-size: 35px;
}

.indexButton:hover {
    color: white;
}

@media screen and (max-width: 53em) {
    .nav2 a {
        top: auto;
        bottom: 3rem;
    }

    .nav2 a.link {
        margin: auto;
        bottom: 15rem;
        right: 25%;
    }
}

#myVideo {
    margin: auto;
    display: block;
    margin-top: 8%;
}

::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}

.CPimg {
    width: 80%;
}

/*

@keyframes spinify {
    0% {
        transform: translate(0px, 0px);

    }

    33% {
        transform: translate(0px, 24px);
        border-radius: 100%;
        width: 10px;
        height: 10px;

    }

    66% {
        transform: translate(0px, -60px);
    }

    88% {
        transform: translate(0px, 4px);

    }

    100% {
        transform: translate(0px, 0px);
    }
}
*/


.imgStar {
    width: 60px;
    position: fixed;
    bottom: 4%;
    left: 5%;
    z-index: 9999;
    mix-blend-mode: difference;
}

.rotate {
    width: 60px;
    position: fixed;
    bottom: 4%;
    left: 5%;
    z-index: 9999;
    animation: rotation 10s infinite linear;
}

@keyframes rotate {
    0% {
        transform: translate(200, 300);
    }

    50% {
        transform: translate(200, 300);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}



.rotate4 {
    width: 300px;
    z-index: 9999;
    position: absolute;
    animation: rotation 10s infinite linear;
    top:35%;
    bottom: 0;
    left: 0;
    right: 0;
}


@media screen and (min-width: 651px) {
    .rotate3 {
        width: 50px;
        position: fixed;
        top: 79%;
        left: 47%;
        z-index: 9999;
        animation: rotation3 10s infinite linear;
    }

    .rotate2 {
        width: 150px;
        position: fixed;
        top: 73%;
        left: 44%;
        z-index: 999;
        animation: rotation2 10s infinite linear;
    }
}

@media screen and (max-width: 650px) {
    .rotate3 {
        width: 50px;
        position: fixed;
        top: 56%;
        left: 44%;
        z-index: 9999;
        animation: rotation3 10s infinite linear;
    }

    .rotate2 {
        width: 150px;
        position: fixed;
        top: 50%;
        left: 35%;
        z-index: 999;
        animation: rotation2 10s infinite linear;
    }
}



@keyframes rotate3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotation3 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotation2 {
    from {
        transform: rotate(359deg);
    }

    to {
        transform: rotate(0deg);
    }
}


.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}




.loaderWrap {
    position: fixed;
    z-index: 9999999;
    background: #888;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*
p.loading {
    font-family: 'Branic Bold';
    position: relative;
    font-size: 10vw;
    color: white;
    margin: 100px;
    top: 20%;
}
*/


.loaderX {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1a1a1a;
    animation: loader 3s linear infinite;
}
